.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* .popup-bx {
  position: fixed;
  width: 100%;
  height: 100%;
  max-width: 200px;
  max-height: 200px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.5);
} */
.popup-bx {
  position: absolute;
  left: 25%;
  right: 25%;
  top: 25%;
  width: 100%;
  max-width: 200px;
  height: 200px;
  max-height: 200px;
  bottom: 25%;
  margin: auto;
}
.toolTipInner {
  position: absolute;
  border-radius: 20px;
  background: white !important;
  border: 1px solid #000;
  height: 100%;
  width: 100%;
  padding: 10px;
  z-index: 9999;
}
.toolTipInner span {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 10px;
}
.toolTipTitle {
  font-weight: bold;
}
.demo-app-calendar {
  background: rgba(255, 255, 255, 0.8);
}
.adminBar {
  bottom: 0;
  position: absolute;
}
